@import 'reset.css';
@import 'media.css';

body {
  font-family: 'Times New Roman', Times, serif;
  color: #353945;
  background-color: lavender;
  font-size: 20px;
}

.wrapper {
margin: 0 auto;
width: 500px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 3em;
}

.tab {
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
}
.tab input {
  display: none;
}
.tab label {
  display: block;
  padding: 0 0 0 1em;
  background: rgb(130, 130, 178);
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.tab label:hover {
  color: rgb(236, 193, 141);
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: lavender;
  cursor: pointer;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content img{
  display: block;
  margin: 0 auto;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}


.tab input[type=checkbox] + label::after {
  content: "+";
  display: none;
}
.tab input[type=checkbox] + label:hover::after {
  display: block;
}

.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
